<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>DebraServlet</servlet-name>
        <servlet-class>debra.Web.DebraMainServlet</servlet-class>
        <init-param>
            <param-name>DBDriver</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>URL</param-name>
            <param-value>jdbc:mysql://localhost:3306/debraweb</param-value>
        </init-param>
        <init-param>
            <param-name>UserName</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>Password</param-name>
            <param-value>root</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>DebraServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DebraServlet</welcome-file>
    </welcome-file-list>
</web-app>
